[Desktop Entry]
Version=1.0
Type=Link
Name=DeutscheWelle
Comment=
Icon=gnome-fs-bookmark
URL=http://deutschkurse.dw.com/KursPlattform/WebObjects/KursPlattform.woa/wa/UAAuthDA/auth?par=G5n9lnSPUIqm93qsNXWNH45V0
